#background{
    color: rgb(0, 239, 239);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#h5{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}
#original{
    font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#plazmaY{
    font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cool{
    font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logout{
    background-color: red;
    text-size-adjust: 30px;
}